.cards {
  max-width: 1280px;
}

.cards__list {
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  display: grid;
  gap: 20px;
  justify-content: center;
  justify-items: center; /* center card inside grid cell */
  /* 3 Columns, 2 Rows */
  grid-template-areas:
    "card-a card-b card-c"
    "card-d card-e card-f";
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
}

.card_area_a { grid-area: card-a; }
.card_area_b { grid-area: card-b; }
.card_area_c { grid-area: card-c; }
.card_area_d { grid-area: card-d; }
.card_area_e { grid-area: card-e; }
.card_area_f { grid-area: card-f; }

.card {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  color: #000000;
  width: 100%;
  max-width: 413px;
  height: auto;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  /* Text Content Control */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* Text Content Control */
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  cursor: pointer;
  /* Icon Specs*/
  background-color: transparent;
  background-image: url('../images/like-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 40%;
  transition: opacity 0.2s ease-in-out;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url('../images/heart.svg');
}


/* Tablet (2 cols) */
@media screen and (max-width: 1320px) {
  .cards__list {
    /* Reset areas to match 2 columns */
    grid-template-areas:
      "card-a card-b"
      "card-c card-d"
      "card-e card-f";
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* Centers cards within the new columns*/
  }
}

/* Mobile (1 col) */
@media screen and (max-width: 630px) {
  .cards__list {
    /* Reset areas to a single vertical track */
    grid-template-areas:
      "card-a"
      "card-b"
      "card-c"
      "card-d"
      "card-e"
      "card-f";
    grid-template-columns: 1fr;
    justify-items: center;
  }
}


