/* Global */
* {
  box-sizing: border-box; /* restrict padding from increasing width of containers */
}

.page {
  background-color: #FCF5E5;
  color: #000000;
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  max-width: 1280px;
  padding: 0 20px;
}

